menu "Line sensor"
	config GPIO_MULTIPLEXER_IN_0
		int "GPIO_MULTIPLEXER_IN_1"
		range 0 GPIO_RANGE_MAX
		default 13

	config GPIO_MULTIPLEXER_IN_1
		int "GPIO_MULTIPLEXER_IN_1"
		range 0 GPIO_RANGE_MAX
		default 12

	config GPIO_MULTIPLEXER_IN_2
		int "GPIO_MULTIPLEXER_IN_2"
		range 0 GPIO_RANGE_MAX
		default 26
					
	config GPIO_MULTIPLEXER_IN_3
		int "GPIO_MULTIPLEXER_IN_3"
		range 0 GPIO_RANGE_MAX
		default 27

	
	int GPIO_MULTIPLEXER_OUT
		int "там надо в даташит лезть"
		range 0 0
		default 0

endmenu

