build/

thresholds.txt
sdkconfig
sdkconfig.old
dependencies.lock

### VisualStudioCode ###
.vscode/

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

backtarve.bat

.devcontainer/
